.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container{
  width: 50%;
  padding-top:10%;
  justify-content: center;
  align-content: center;
  align-items: center;
  .screen-logo{
    width:50%;
    height:27%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-end;
    .logo-svg{
      width: 100%;}
  }
  .logo-container{
    width:100%;
    height:27%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-svg g.logo-text path{
      stroke: #000;
      fill: #ffffff;
      fill-rule: evenodd;
      fill-opacity: 0.2;
      stroke-width: 0.8;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
      -moz-animation:logoFill 4s ease-in-out 1s forwards;
      -webkit-animation:logoFill 4s ease-in-out 1s forwards;
      animation:logoFill 4s ease-in-out 1s forwards;
    }
  }
}
.search-container-loaded{
  display: flex;
  width:100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 50px;
  border-bottom: 2px solid #f3f3f3;
}
.logo-text.hide{
  display: none;
}
.screen-logo-loaded{
  display: block;
  width:13%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  .logo-svg{
    width: 100%;
  }
  .logo-container{
    width:100%;
    height:27%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-image {
  width: 100%;
  height: 100%;
}
.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}
.list-videos{
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
}
.search-query {
  height:60px;
  font-size:17px;
  border:none;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width:87%;
  &:focus{
    border: none;
    outline: none;
  }

}
.right-arrow {
  cursor: pointer;
  align-self: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  order: 0;
  width:5%;
  height:3%;
  display: flex;
  justify-content: center;
  .arrow{
    align-self: center;
    border-left: 1px solid #dfe1e5;
    margin-top: 4px;
    .hsuHs-arrow {
      margin: auto;
      color: #9aa0a6;
      padding: 0 10px 0;
      .wFncld {
        margin-top: 10px;
        color: #9aa0a6;
        height: 20px;
        width: 20px
      }
    }
  }
}
.svg-magnifier {
  color: #9aa0a6;

}
.non-display {
  display: none;
}
.search-query-parent {
  position: relative;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: none;
  z-index: 3;
  //height: 44px;
  width: 100%;
  margin: 3% auto 0;

}
.category-container{
  display: flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  justify-content: center;
  margin-top:80px;
  div[class^="ct-"]{
    padding:5px;
    font-size:1vw;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-radius:3px;
    margin-right:5px;
    cursor: pointer;
    pointer-events: auto;
  }
  div[class^="icon-"],.label{
    pointer-events: none;
  }
  .icon-checkbox-unchecked,.icon-checkbox-checked{
    padding:5px;
  }
  .icon-youtube,
  .icon-movie,
  .icon-education,
  .icon-music,
  .icon-adult{
    display: none;
  }
  &#loaded{
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: flex-start;
  }
  div[class$="-checked"] div[class^="icon-"]{
    display: block;
  }
  div[class^="ct-"][class$="-checked"]{
    color:#fff;
    background: #000;
    -webkit-animation: jello-horizontal 0.5s linear;
    animation: jello-horizontal 0.5s linear;
    animation-fill-mode: forwards;
  }
  div[class^="ct-"][class$="-unchecked"]{
    -webkit-animation: jello-vertical 0.5s both;
    animation: jello-vertical 0.5s both;
  }
}
.search-box-container{
  position: relative;
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  .loader {

    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid #928f8f;
    border-bottom: 16px solid #928f8f;
    width: 15%;
    height: 15%;
    margin-top: -7px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}
.magnify{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  width:7%;
  height:3%;
}
.suggestion-magnify{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  width: 8%;
  height: 64px;
  .hsuHs {
    color: #9aa0a6;
    align-self:center;
  }
}
.search-query-parent-loaded{
  //position: relative;
  display: flex;
  background: #fff;
  width:80%;
  box-shadow: none;
  margin-top:3%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  .search-box-container{
    width:55%;
  }
}
.search-box-container:focus-within {
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.2);

}
.search-box-container:hover{
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
input.search-query:hover div.search-box-container{
  background: #ccc;
}
.suggestion-parent,
.suggestion-parent-loaded {
  background:#fff;
  position: absolute;
  top:100%;
  left:0;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width:100%;
  border:1px solid #dfe1e5;
  z-index: 2;
  .suggestion-option {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    width: 100%;
    border-radius: 2px;
    transition-duration: .3s;
    min-height: 20px;
    .suggestion-text {
      align-self: center;
    }

    &:last-child{
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
    }
    &:hover {
      background-color: #ebedee;
    }
  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes for Top Icon Animation */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

//Keyframes for logo
@keyframes logoFill {
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;}
  100%{stroke-dashoffset:0;}

}
@-webkit-keyframes logoFill{
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;fill-opacity:0;}
  100%{stroke-dashoffset:0;fill-opacity:1;}
}
@-moz-keyframes logoFill{
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;fill-opacity:0;}
  100%{stroke-dashoffset:0;fill-opacity:1;}
}

.search-query-parent-loaded:nth-child(2){
  justify-content: end;
}
/* Responsive Design*/
.logo-black {
  fill:#000000;
}
.logo-eyes{
  opacity: 1;
  fill:#000000;
  animation: blink 5s infinite;
  animation-timing-function: step-end;
}
.logo-white {
  fill:#ffffff
}
@keyframes blink {
  5%{
    fill:#fff;
  }
  10%{
    fill:#000;
  }
  15%{
    fill:#fff;
  }
  20%{
    fill:#000;
  }
  25%{
    fill:#fff;
  }
  30%{
    fill:#000;
  }
  35%{
    fill:#000;
  }
  55%{
    fill:#fff;
  }
  60%{
    fill:#000000;
  }

  90%{
    fill:#000000;
  }
}