.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container{
  width: 100%;
  padding-top:10%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo-container  .logo-svg g.logo-text path{
  stroke: #000;
  fill: #ffffff;
  fill-rule: evenodd;
  fill-opacity: 0.2;
  stroke-width: 0.8;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -moz-animation:logoFill 4s ease-in-out 1s forwards;
  -webkit-animation:logoFill 4s ease-in-out 1s forwards;
  animation:logoFill 4s ease-in-out 1s forwards;
}
.top-icon{
  width:100%;
  height:100%;
  margin:0 auto;
}
.screen-logo .logo-svg{
  width: 100%;
}
.screen-logo-loaded .logo-svg{
  width: 100%;
}
.screen-logo div.icon-container{
  width: 53%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.screen-logo-loaded div.icon-container{
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: center

}
.screen-logo div.icon-container svg{
margin-right:10px;
}
.screen-logo-loaded div.icon-container svg{
  margin-right:10px;
}
.chosen{
  -webkit-animation: heartbeat 1s ease-in-out both;
  animation: heartbeat 1s ease-in-out both;
  }
.chosen#movie{
  fill: #4190ff;
}
.chosen#youtube{
  fill:#E52D27;
}
.chosen#soundcloud{
  fill:#F67C11;
}
.screen-logo-loaded {
  margin-left: 10px;
  margin-top: 4px;
  width: 17%;
  height: 27%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.screen-logo-loaded .logo-container{
  .logo-container{
    width:100%;
    height:27%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.screen-logo {
  width:22%;
  height:27%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
  .logo-container{
    width:100%;
    height:27%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main-image {
  width: 100%;
  height: 100%;
}
.wFncld {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px
}

.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}
.list-videos{
padding-left: 12px;
padding-top: 12px;
padding-right: 12px;
}
.search-query {
  width: 85%;
  margin: auto auto auto 0;
  border: none;
  &:focus{
    border: none;
    outline: none;
  }
}

.hsuHs {
  margin: auto;
  color: #9aa0a6;
  padding: 10px 12px 6px;
}

.hsuHs-arrow {
  margin: auto;
  color: #9aa0a6;
  padding: 0 10px 0;
}

.right-arrow {
  padding-right: 8px;
  border-left: 1px solid #dfe1e5;
  height: 70%;
  margin: auto;
  cursor: pointer;
}

.svg-magnifier {
  color: #9aa0a6;

}

.non-display {
  display: none;
}

.search-query-parent {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  min-height: 6.5vh;
  margin: 30px auto 0;
  width: 40%;

}
.category-container{
  display: flex;
  padding-top:2%;
  justify-content: center;
  flex-wrap: wrap;
  div{
    padding:5px;
    font-size:14px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    input{
      margin:5px;
    }
  }
}
.search-query-parent:focus-within {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}
.search-query-parent-loaded {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 40%;
  margin-left: 4%;
  margin-top: 3%;

}

.suggestion-parent {
  border: 1px solid #dfe1e5;
  width: 40%;
  margin: 0 auto 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  max-height: 300px;
  //overflow: scroll;
}

.suggestion-parent-loaded {
  border: 1px solid #dfe1e5;
  width: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  max-height: 300px;
  position: absolute;
  z-index: 10;
  background-color: white;
  margin: 5.4% auto 70px 21.8%;
  //overflow: scroll;
}

.suggestion-option {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  width: 100%;
  border-radius: 2px;
  transition-duration: .3s;
  min-height: 20px;

  &:hover {
    background-color: #ebedee;
  }
}

.suggestion-text {
  margin: 2% auto auto 0;
}


.loader {

  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #928f8f;
  border-bottom: 16px solid #928f8f;
  width: 15%;
  height: 15%;
  margin-top: -7px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes for Top Icon Animation */

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
//Keyframes for logo


@keyframes logoFill {
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;}
  100%{stroke-dashoffset:0;}

}
@-webkit-keyframes logoFill{
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;fill-opacity:0;}
  100%{stroke-dashoffset:0;fill-opacity:1;}
}
@-moz-keyframes logoFill{
  0%  {stroke-dashoffset:800;}
  80%  {stroke-dashoffset:0;fill-opacity:0;}
  100%{stroke-dashoffset:0;fill-opacity:1;}
}


//Responsive Design
@media only screen and (max-width: 500px){
  .screen-logo{
    width:65%;
  }
  .search-query-parent{
    width:80%;
  }
  .category-container div {
    font-size: 3vh;
    padding:0px;

  }
}
@media only screen and (max-width: 700px) and (min-width: 500px) {
  .screen-logo{
    width:50%;
  }
  .screen-logo-loaded{
    width:15vh;
    .logo-container{
      width:28vh;
    }
  .logo-svg{
    width:100%;
  }
}
  .search-query-parent{
    width:95%;
  }
  .search-query-parent-loaded{
  width:73%;
    margin-top:20px;
  }
  .screen-logo-loaded .logo-container .logo-svg .logo-text{
    display: none;
  }

}

@media screen and (min-width:700px) and (max-width:1000px) {
  .search-query-parent{
    width:95%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
  .screen-logo{
    width:40%;
  }
  .screen-logo-loaded{
    width:30vh;
    .logo-container{
      width:70vh;
    }
    .logo-svg{
      width:100%;
    }
  }
  .search-query-parent-loaded{
    margin-top:10.5vh;
    margin-left:25vh;
    width:100%;
  }
  .screen-logo-loaded .logo-container .logo-svg .logo-text{
    display: block;
  }
}
.logo-black {
  fill:#000000;
}
.logo-eyes{
  opacity: 1;
  fill:#000000;
  animation: blink 5s infinite;
  animation-timing-function: step-end;
}
.logo-white {
  fill:#ffffff
}

@keyframes blink {
  5%{
    fill:#fff;
  }
  10%{
    fill:#000;
  }
  15%{
    fill:#fff;
  }
  20%{
    fill:#000;
  }
  25%{
    fill:#fff;
  }
  30%{
    fill:#000;
  }
  35%{
    fill:#000;
  }
  55%{
    fill:#fff;
  }
  60%{
    fill:#000000;
  }

  90%{
    fill:#000000;
  }
}