@font-face {
  font-family: 'myFont';
  src: local('Handlee'), url('../fonts/Handlee-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: myFont;
}

.sv-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.sv-metadata-line {
  color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
  max-width: 100%;
  max-height: calc(2 * var(--yt-thumbnail-attribution-line-height, 1.8rem));
  overflow: hidden;
  font-size: var(--ytd-thumbnail-attribution_-_font-size);
  font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
  line-height: var(--ytd-thumbnail-attribution_-_line-height);
  letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
  text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  display: inline-flex;
}

.sv-thumbnail-image {
  width: 100%;
  height: 100%;
}

.sv-video-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #030303;
  color: #ffffff;
  font-size: 12px;
  padding: 0.5vh;
}

.sv-thumbnail {
  position: relative;
  width:15%;
  height:150px;
}
.sv-detail {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
  width: 70%;
}

.sv-title {
  text-decoration: none;

  color: #030303;
  -webkit-line-clamp: 2;
  display: block;
  max-height: calc(2 * 2.4rem);
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.4rem;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
}

.sv-views {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

  &:after {
    content: "•";
    margin: 0 4px;
  }
}

.imdb-rate-star {
  font-size: 18px;
  color: #f5c518;
}

.sv-owner {
  //padding-top: 5px;
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;
}

#sv-download-video-options.sv-download-video-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;

}

#sv-download-audio-options.sv-download-audio-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;
}

#sv-download-video-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

#sv-download-audio-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.sv-quick-download {

  &:hover {
    border-radius: 8px;
    fill: #f37236;
    color: #f37236;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  }

  display: flex;
  flex-direction: column;
  border-spacing: 10px;
  cursor: pointer;
  margin: auto
}

.sv-download-audio {
  margin-top: 10px;
  border-radius: 8px;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 20px 10px 20px;
  cursor: pointer;

}

.sv-quick-download-icon {
  height: 40px;

}

.sv-quick-download-icon-text {
  //padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.sv-download-video {
  text-align: -webkit-center;
  border-radius: 8px;
  display: flex;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.sv-dropdown-svg {
  padding-left: 10px;
  height: 15px;
  width: 15px;
}

.sv-description {
  padding-top: 10px;
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;
}

.sv-published-date {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

}

.sv-download-link {
  width:15%;
}

.sv-modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  //display: block;
  display: none;
  z-index: 3;
  overflow: auto;
  top: 0;
  //top: -1000px;
  transition: all .3s ease;
  overflow-x: hidden;
  @media (max-width: 480px) {
    right: 20px;
  }


}

.sv-modal-overlay.open {
  display: block;
  //transform: translateY(1000px);
}

.sv-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0;
  font-weight: 700;
  cursor: pointer;
}

.sv-modal-container {
  position: relative;
  top: 50%;
  width: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: myFont, Serif;
}

.sv-modal-head {
  width: 100%;
}

.sv-modal-head h3 {
  border-left: 2px solid #c6c6c6;
  padding: 0 0 0 2%;
  margin: 2%;
}

.sv-modal-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sv-modal-item-body {
  width: 100%;
  font-size: 3vh;
  background: transparent;
}

.sv-modal-item-body .sv-modal-box {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  font-size: 2vh;
  //box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .content {
    display: flex;
    box-sizing: border-box;
  }

  .sv-modal-box-footer {
    width: 100%;
    padding-top: 1vh;
    margin-top: 10px;
    border-radius: 3px;
  }
}

/* Accordion styles */
.sv-modal-qualities {
  border-radius: 0px;
  overflow: hidden;
  width: 100%;
}

.sv-modal-quality {
  width: 100%;
  color: white;
  overflow: hidden;

  &-label {
    box-shadow: 2px 2px 2px #ccc;
    transition: all 200ms;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: #000;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: #fff;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #fff;
    cursor: pointer;

    &:hover {
      background: #fff;
    }
  }
}

// :checked
.sv-modal-quality {
  &-label {

  }

  &.active {
    .sv-modal-quality-content {
      max-height: 100vh;
      width: 100%;
      padding: 1em;
      color: #000;
    }

    .sv-modal-quality-content div {
      color: #000;
      line-height: 3vh;
      cursor: pointer;
    }

    .sv-modal-quality-content div.url-link:hover {
      text-decoration: underline;
    }

    .sv-modal-quality-label::after {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
    }
  }
}

/* Responsive Design */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sv-parent{
    flex-direction: column;
    padding-top:20px;
    .sv-thumbnail{
      width:100%;
      align-self: center;
    }
    .sv-download-link{
      width:100%;
    }
    .sv-detail{
      width:100%;
      .sv-title{
        font-weight:700;
      }
      .sv-description{
        padding:10px 10px 10px 0px;
        max-height: fit-content;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}