.sv-parent {
  display: inline-flex;
  width: 100%;
  margin-bottom: 20px;
}

.sv-metadata-line {
  color: var(--ytd-metadata-line-color, var(--yt-spec-text-secondary));
  max-width: 100%;
  max-height: calc(2 * var(--yt-thumbnail-attribution-line-height, 1.8rem));
  overflow: hidden;
  font-size: var(--ytd-thumbnail-attribution_-_font-size);
  font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
  line-height: var(--ytd-thumbnail-attribution_-_line-height);
  letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
  text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  display: inline-flex;
}

.sv-thumbnail-image {
  width: 100%;
  height: 100%;
}

.sv-video-duration {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #030303;
  color: #ffffff;
  font-size: 12px;
  padding: 0.5vh;
}

.sv-thumbnail {
  position: relative;
  height: 30vh;
  width: 50vh;
}

.sv-detail {

  margin-left: 2vh;
  width: 50%;
}

.sv-title {
  text-decoration: none;

  color: #030303;
  -webkit-line-clamp: 2;
  display: block;
  max-height: calc(2 * 2.4rem);
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.4rem;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
}

.sv-views {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

  &:after {
    content: "•";
    margin: 0 4px;
  }
}

.sv-owner {
  padding-top: 5px;
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;
}

#sv-download-video-options.sv-download-video-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;

}

#sv-download-audio-options.sv-download-audio-options {
  max-height: 100%;
  background: #dff8dc;
  padding: 8px;
}

#sv-download-video-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

#sv-download-audio-options {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.sv-quick-download {

  &:hover {
    border-radius: 8px;
    fill: #f37236;
    color: #f37236;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  }
  display: grid;
  width: 33%;
  border-spacing: 10px;
  cursor: pointer;

}

.sv-download-audio {
  margin-top: 10px;
  border-radius: 8px;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 20px 10px 20px;
  cursor: pointer;

}

.sv-quick-download-icon {
  height: 40px;

}

.sv-quick-download-icon-text {
  padding-left: 1.7vh;
  //padding-bottom: 10px;
  font-size: 12px;
  text-align: start;
}

.sv-download-video {
  text-align: -webkit-center;
  border-radius: 8px;

  display: flex;
  transition: height 2s;
  border: 1px solid #dfe1e5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.sv-dropdown-svg {
  padding-left: 10px;
  height: 15px;
  width: 15px;
}

.sv-description {
  padding-top: 10px;
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;
}

.sv-published-date {
  color: #606060;
  max-width: 100%;
  display: block;
  max-height: calc(2 * 1.8rem);
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: inherit;
  text-transform: none;

}

.sv-download-link {
  padding-top: 10px;
}